<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coopera.mayakaab">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MayaKaab"
        android:usesCleartextTraffic="true">
        <activity android:name=".views.ImagenViewerActivity"></activity>
        <activity android:name=".views.CajaActivity" />
        <activity
            android:name=".views.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.GraficasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.AgregarMielOrganicaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ImagenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.GaleriaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.AgregarEnviosTamboresActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.EnvioTamboresActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.RegistrarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.AgregarMielConvencionalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.TiposDeMielActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.AgregarProductorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ProductoresActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>